.gif-container {
    height: 200px;
    width: 250px;
    position: relative;
    padding-bottom: 10px;
}

.gif {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-outlined.filled {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}


.favorite-btn,
.copy-btn {
    border: 1px solid black;
    position: absolute;
    cursor: pointer;
    top: 5%;
    height: 24px;
    width: 24px;
    padding: 2px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    transition-duration: 0.3s;
}

.favorite-btn {
    left: 88%;
}

.copy-btn {
    left: 76%;
}

.favorite-btn:hover,
.copy-btn:hover {
    font-size: 24px;
    height: 30px;
    width: 30px;
    line-height: 24px;
}

@media screen and (max-width: 991px) {
    .gif-container {
        height: 150px;
        width: 200px;
    }

    .favorite-btn,
    .copy-btn {
        height: 20px;
        width: 20px;
        font-size: 16px;
        line-height: 16px;
        padding: 1.5px;
    }

    .favorite-btn:hover,
    .copy-btn:hover {
        font-size: 18px;
        height: 24px;
        width: 24px;
        line-height: 18px;
    }
}