.user-profile {
    display: flex;
}

.display-favorites {
    width: 60%;
    text-align: center;
}

.favorite-gifs {
    display: flex;
    padding: 10px 30px;
    justify-content: space-around;
    flex-wrap: wrap;
}