nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .link {
    color: #00F6ED;
    text-decoration: none;
    cursor: pointer;
}

nav button.link {
    border: none;
    background: none;
}

.header--navbar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header--title {
    margin: 0px;
    color: #5465FF;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
}

.header--login {
    display: flex;
    gap: 10px;
}